*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
    text-transform: capitalize;
}

.nav{
    display: flex;
    width: 100%;
    
    padding: 20px;
    justify-content: flex-end;
}

.cont{
    width: 90%;
    padding: 20px;
    border: 2px solid black;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    gap: 30px;

}

.back{
    width: 90%;
    margin: 0 auto;
}