<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Baker</th>
        </tr>
        {% for pie in pies%}
        <tr>
            <td>{{pie.name}}</td>
            <td>{{pie.users.first_name}}</td>
            
        </tr>
        {% endfor %}
        
    </table>
    <a href="{% url 'logout' %}" class="" data-mdb-ripple-init>logout</a>
</body>
</html>